<header class="custom_header">
    <div class="container" style="padding: 10px;">
      <div class="d-flex">
        <img src="logo.png" class="rounded-circle" alt="Imagen circular" width="90" height="90" style="margin-right: 70px;">
        <nav id="navbar-example2" class="navbar bg-body-tertiary px-3 mb-3 d-flex align-items-center justify-content-between">
          <ul class="nav">
            <li class="nav-icon">
              <a class="nav-link" routerLink="/inicio">
                <img src="home.png" alt="Inicio" width="30" height="30">
              </a>
            </li>
            <div>
              <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Buscar elementos y/o Artistas" aria-label="Search" style="width: 700px;">
                <button class="btn custom-btn" type="submit" style="width: 100px;">Buscar</button>
              </form>
            </div>
            <li class="nav-item">
              <a class="nav-link" routerLink="/login">Iniciar Sesión</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" routerLink="/registro">Registrarse</a>
            </li>
            <li><a routerLink="/gestionEventos" class="nav-link px-2">Gestión de eventos</a></li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  